
    body, html {
        height: 100%;
        line-height: 1.8;
    }
    
    /* Full height image header */
    .bgimg-1 {
        background-position: center;
        background-size: cover;
        background-image: url("/assets/img/hotel1.1.jpg");
        min-height: 100%;
    }
    
    .w3-bar .w3-button {
        padding: 16px;
    }

    .w3-bar-item w3-button:hover{
        color: rgb(255, 255, 255);
    }

    
    body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif, }

    h1,h2,h3{
        
        font-size: 2.5rem;
        text-underline-position:under left;
        touch-action: pan-left;
    
    }
    .w3-quarter{
    
        display: flex;
    }


    