body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.menu {
    background-color:rgb(59, 59, 58);
    display: flex;
    justify-content: space-around; /* Répartit les éléments horizontalement */
    align-items: center; /* Centre les éléments verticalement */
    
}

img {
    width: 15vw;
    cursor: pointer;
}



.menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex; /* Affiche les éléments <li> en tant que flexbox */
    justify-content: center; /* Centre les éléments <li> horizontalement */
    
}

.menu li {
    margin-right: 20px;
    
}

.menu a {
    
    text-decoration: none;
    color: #fff;
    font-size: 17px;
    position: relative;
    transition: color 0.3s ease;
    cursor: pointer;
}




.menu a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    background-color:rgb(254, 127, 48);
    top: 0;
    left: 0;
    margin: 1.5rem;
    transition: width 0.5s ease;
}

.menu a:hover {
    color: rgb(195, 88, 23);
}


.menu a:hover:active {
    color: rgb(195, 88, 23);
}

.menu a:hover::after {
    width: 80%;
}
